{% if not toolbar.isPivotLike %}
    <ul class="nav nav-tabs" data-testid="stats-analysis-view-tabs">
        <li class="nav-item">
            <a href="{{ toolbar.viewChartUrl }}"
               class="nav-link{% if toolbar.currentView == 'chart' %} active{% endif %}"
               data-testid="stats-analysis-view-chart">
                {{ 'stats.analysis.view.chart'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ toolbar.viewTableUrl }}"
               class="nav-link{% if toolbar.currentView == 'table' %} active{% endif %}"
               data-testid="stats-analysis-view-table">
                {{ 'stats.analysis.view.table'|trans }}
            </a>
        </li>
    </ul>
{% endif %}
