<div class="modal modal-blur fade"
     id="stats-benchmark-selection-modal"
     tabindex="-1"
     aria-labelledby="stats-benchmark-selection-modal-label"
     aria-hidden="true"
     data-testid="stats-benchmark-selection-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stats-benchmark-selection-modal-label">
                    {{ 'stats.benchmark.selection.modal.title'|trans({}, 'statistics') }}
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="{{ 'action.cancel'|trans({}, 'messages') }}"></button>
            </div>
            {{ component('BenchmarkSelectionForm', {
                initialData: benchmarkSelectionFormData,
                preservedQuery: benchmarkSelectionPreservedQuery,
                locale: app.request.locale,
            }) }}
        </div>
    </div>
</div>
