{# @var widget \App\Statistics\Application\DTO\StatisticWidget #}
{% set p = widget.payload %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">{{ p.titleTranslationKey|trans }}</h3>
    </div>
</div>
