{% extends '@Shared/_layout_vertical.html.twig' %}

{% block title %}Statistics - {{ parent() }}{% endblock %}

{% block header %}
    {% embed '@Shared/_embeds/header.html.twig' %}
        {% block header_after %}
            {{ include(('@Shared/_includes/subnav_stats.html.twig')) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block page_body %}
    <div class="container-xl">
        <twig:Breadcrumbs :items="[
            { label: 'link.statistics' }
        ]" />
    </div>
{% endblock %}
