<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}Collaborative IVENA statistics{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body {% block turbo_drive %}{% endblock %}>
{% block body %}
    {% block page %}
        <div class="page">
            {% block page_header %}
                {% embed '@Shared/_embeds/header.html.twig' %}{% endembed %}
            {% endblock %}

            <div class="page-wrapper mt-5">
                {% block page_body %}{% endblock %}
            </div>

            {% block page_footer %}
                {{ include('@Shared/_includes/footer.html.twig') }}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
</body>
</html>
