{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController! - {{ parent() }}{% endblock %}

{% block page_body %}
    <div class="container-xl">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Hello, world! ✅</h1>

                    This friendly message is coming from:
                    <ul>
                        <li>Your controller at <code>/collaborative-ivena-statistics/src/Controller/DefaultController.php</code></li>
                        <li>Your template at <code>/collaborative-ivena-statistics/templates/default/index.html.twig</code></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
