{% extends '_layout_vertical.html.twig' %}

{% block title %}
    Hospital Composition – {{ parent() }}
{% endblock %}

{% block header %}
    {% embed '_embeds/header.html.twig' %}
        {% block header_after %}
            {{ include(('_includes/subnav_stats.html.twig')) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block page_body %}
<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">Kliniken nach Versorgungsstufe</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {% include 'stats/hospitals/_group_table_transposed.html.twig' with {
                                groups: stats.byTier,
                                totalHospitals: stats.totalHospitals,
                                totalParticipantHospitals: stats.totalParticipantHospitals,
                                totalAllocations: stats.totalAllocations,
                                totalParticipantAllocations: stats.totalParticipantAllocations,
                                translation_prefix: 'hospital.tier.'
                            } %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">Kliniken nach Lage</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {% include 'stats/hospitals/_group_table_transposed.html.twig' with {
                                groups: stats.byLocation,
                                totalHospitals: stats.totalHospitals,
                                totalParticipantHospitals: stats.totalParticipantHospitals,
                                totalAllocations: stats.totalAllocations,
                                totalParticipantAllocations: stats.totalParticipantAllocations,
                                translation_prefix: 'hospital.location.'
                            } %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">Kliniken nach Größe</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {% include 'stats/hospitals/_group_table_transposed.html.twig' with {
                                groups: stats.bySize,
                                totalHospitals: stats.totalHospitals,
                                totalParticipantHospitals: stats.totalParticipantHospitals,
                                totalAllocations: stats.totalAllocations,
                                totalParticipantAllocations: stats.totalParticipantAllocations,
                                translation_prefix: 'hospital.size.'
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
