name: Security Scan

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    schedule:
        - cron: '33 20 * * 5'

permissions:
    contents: read

jobs:
    php-security:
        runs-on: ubuntu-latest
        permissions:
            contents: read # for actions/checkout to fetch code
            security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
            actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Psalm
              uses: docker://ghcr.io/psalm/psalm-github-actions
              with:
                  composer_require_dev: true
                  security_analysis: true
                  report_file: results.sarif

            - name: Upload Security Analysis results to GitHub
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: results.sarif
